<a href="https://colab.research.google.com/github/soumyakandari/MLnow_2.0/blob/main/MLassignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment no.1***


[Link to Download the dataset](https://www.kaggle.com/sudalairajkumar/covid19-in-india?select=covid_vaccine_statewise.csv)

Date Created: 13th June , 2021

Topic: Univariate Linear Regression 

Author:
Soumya Kandari

[[Assessment Repository](https://github.com/soumyakandari/MLnow_2.0/)]

# Set Up

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cd '/content/drive/MyDrive/Colab Notebooks/02_EDA/covid_vaccination'

/content/drive/MyDrive/Colab Notebooks/02_EDA/covid_vaccination

In [5]:
ls

covid_19_india.csv  covid_vaccine_statewise.csv  StatewiseTestingDetails.csv

In [7]:
import os

In [8]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [10]:
#load the csv file as a dataframe

mathData =pd.read_csv('covid_vaccine_statewise.csv')

In [11]:
mathData.head(10)

   Updated On  State  ...  60+ years (Age)  Total Doses Administered
0  16/01/2021  India  ...              NaN                   48276.0
1  17/01/2021  India  ...              NaN                   58604.0
2  18/01/2021  India  ...              NaN                   99449.0
3  19/01/2021  India  ...              NaN                  195525.0
4  20/01/2021  India  ...              NaN                  251280.0
5  21/01/2021  India  ...              NaN                  365965.0
6  22/01/2021  India  ...              NaN                  549381.0
7  23/01/2021  India  ...              NaN                  759008.0
8  24/01/2021  India  ...              NaN                  835058.0
9  25/01/2021  India  ...              NaN                 1277104.0

[10 rows x 18 columns]