<a href="https://colab.research.google.com/github/soumyakandari/MLnow_2.0/blob/main/MLassignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment no.1***


[Link to Download the dataset](https://www.kaggle.com/sudalairajkumar/covid19-in-india?select=covid_vaccine_statewise.csv)

Date Created: 13th June , 2021

Topic: Univariate Linear Regression 

Author:
Soumya Kandari

[[Assessment Repository](https://github.com/soumyakandari/MLnow_2.0/)]

# Set Up

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cd '/content/drive/MyDrive/Colab Notebooks/02_EDA/covid_vaccination'

/content/drive/MyDrive/Colab Notebooks/02_EDA/covid_vaccination

In [5]:
ls

covid_19_india.csv  covid_vaccine_statewise.csv  StatewiseTestingDetails.csv

In [7]:
import os

In [8]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [10]:
#load the csv file as a dataframe

mathData =pd.read_csv('covid_vaccine_statewise.csv')

In [12]:
mathData.tail(10)

      Updated On        State  ...  60+ years (Age)  Total Doses Administered
5318  30/05/2021  West Bengal  ...        3938023.0                14412969.0
5319  31/05/2021  West Bengal  ...        3964698.0                14718135.0
5320  01/06/2021  West Bengal  ...        3990153.0                14969157.0
5321  02/06/2021  West Bengal  ...        4018278.0                15186412.0
5322  03/06/2021  West Bengal  ...        4057835.0                15430414.0
5323  04/06/2021  West Bengal  ...        4107132.0                15726490.0
5324  05/06/2021  West Bengal  ...        4159589.0                16031152.0
5325  06/06/2021  West Bengal  ...        4175911.0                16149949.0
5326  07/06/2021  West Bengal  ...        4226545.0                16453879.0
5327  08/06/2021  West Bengal  ...              NaN                       0.0

[10 rows x 18 columns]

**Data Processing**

In [13]:
#consider the below columns from the dataframe


mathData = mathData[['Total Individuals Vaccinated', 'First Dose Administered', 'Second Dose Administered', 'Total Covaxin Administered', 'Total CoviShield Administered', '18-45 years (Age)', '45-60 years (Age)', '60+ years (Age)', 'Total Doses Administered']]

mathData.head(4)

   Total Individuals Vaccinated  ...  Total Doses Administered
0                       48276.0  ...                   48276.0
1                       58604.0  ...                   58604.0
2                       99449.0  ...                   99449.0
3                      195525.0  ...                  195525.0

[4 rows x 9 columns]